In [44]:
import os
import pandas as pd

In [45]:
path = "/Users/danielcm/Desktop/Sycuro/Projects/Diabetes/"
os.chdir(path)

In [46]:
#In here, define the files that you want to join. Make sure they have a common column with common IDs. 
#For this to work properly, make sure all the IDs match entirely between files in the common column.
files = ['All_GF_metadata.txt','FemMicro16S/femmicro_output_w5w6/susbset_w5_metadata_incomplete.txt']

In [57]:
df1 = pd.read_csv(files[0], sep='\t', encoding='latin')
df2 = pd.read_csv(files[1], sep='\t', encoding='latin')
df2

,ID,ID_subset,Sex,Community,Subcommunity,Week
0,016R_0_F_NS6_week5_S1_L001,016R_0_F_NS6_week5,Female,IAB-,NS6,5
1,016R_R_F_NS6_week5_S1_L001,016R_R_F_NS6_week5,Female,IAB-,NS6,5
2,036R_0_M_NS1_week5_S41_L001,036R_0_M_NS1_week5,Male,IAB-,NS1,5
3,036R_L_M_NS1_week5_S42_L001,036R_L_M_NS1_week5,Male,IAB-,NS1,5
4,036R_R_M_NS1_week5_S18_L001,036R_R_M_NS1_week5,Male,IAB-,NS1,5
...,...,...,...,...,...,...
110,3995R_S2_L_Female_week5_S65_L001,3995R_S2_L_Female_week5,Female,IAB+,S2,5
111,3995R_S2_R_Female_week5_S66_L001,3995R_S2_R_Female_week5,Female,IAB+,S2,5
112,3995R_S2_RR_Female_week5_S67_L001,3995R_S2_RR_Female_week5,Female,IAB+,S2,5
113,3997R_S2_L_Male_week5_S73_L001,3997R_S2_L_Male_week5,Male,IAB+,S2,5
114,3997R_S2_R_Male_week5_S74_L001,3997R_S2_R_Male_week5,Male,IAB+,S2,5

In [56]:
subset_df1 = df1[['Sample_ID','CohortCode_MouseSample','Danska Mice::Diabetic?','Danska Mice::Fate Primary','Danska Mice::Sex']]
subset_df1

,Sample_ID,CohortCode_MouseSample,Danska Mice::Diabetic?,Danska Mice::Fate Primary,Danska Mice::Sex
0,3893R_R_M_S5_week10,DIABIMMUNE_S5_10weekEndpoint,no,S5,Male
1,tube not found,DIABIMMUNE_S5_10weekEndpoint,no,S5,Male
2,3893R_RL_M_S5_week10,DIABIMMUNE_S5_10weekEndpoint,no,S5,Male
3,3893R_0_M_S5_Pellet_week10,DIABIMMUNE_S5_10weekEndpoint,no,S5,Male
4,3752R_R_F_S5_Pellet_week10,DIABIMMUNE_S5_10weekEndpoint,no,S5,Female
...,...,...,...,...,...
2269,3997R_S2_R_Male_week6,DIABIMMUNE_S2_immunophenotyping_10weekEndpoint,no,S2,Male
2270,3997R_S2_R_Male_week7,DIABIMMUNE_S2_immunophenotyping_10weekEndpoint,no,S2,Male
2271,3997R_S2_R_Male_week7,DIABIMMUNE_S2_immunophenotyping_10weekEndpoint,no,S2,Male
2272,3997R_S2_R_Male_week9,DIABIMMUNE_S2_immunophenotyping_10weekEndpoint,no,S2,Male
2273,3997R_S2_R_Male_week9,DIABIMMUNE_S2_immunophenotyping_10weekEndpoint,no,S2,Male

In [62]:
merged_files = pd.merge(subset_df1,df2, left_on='Sample_ID', right_on='ID_subset', how='inner')
merged_files.to_csv('metadata_merged_file_w5.csv', index=False, sep=',')